.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}
.header-left{
    flex: 0.5;
    min-width: 80px;
    background-color: rgb(33, 33, 34);
    color: grey;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;

}
.header-left > input{
    background-color: rgb(33, 33, 34);
    border: none;
    width: 100%;
    outline: none;
}
.header-right{
    display: flex;
    align-items: center;

}
.header-right .h4{
    margin-left: 10px;
}