.song-row{
    margin-left: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    color: white;


}
.song-row:hover{
    cursor: pointer;
    background-color: black;
    opacity: .7;
}
.song-info{
    margin-left: 15px;

}
.song-info > h4{
    font-size: 16px;

    
}
.song-info{
    font-size: 14px;
    margin-top: 3px;
    color: rgb(179, 173, 180);
}
.song-album{
    height: 40px;
    width: 40px;
}
.song-info > p{
    font-size: 13px;
    margin-top: 2.5px;
    color: rgb(175, 156, 169);
}
/* .song-row .bottom-player{
    opacity: .1;

} */
.bottom-player{
    position: fixed;
    display:flex;
    justify-content: space-between;
    bottom: 0;
    height: 60px;
    
   
    width: 97%;
    max-width: 1000px;
   
    background-color: rgb(0, 0, 0);
    padding: 20px;
    align-items: center;
}
.bottom-player:hover{
    background-color: rgb(24, 23, 24);
}



